<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="NongModel">
    <ion-card-header>Datos Usuario</ion-card-header>
    <ion-item>
      <ion-label>Usuario: </ion-label>
      <ion-input type="email" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
    </ion-item>

    <ion-button *ngIf="!logueado" (click)="IniciarSesion()">Ingresar</ion-button>
    <ion-button *ngIf="!logueado" (click)="Registrarse()">Registrarse</ion-button>
    <ion-button *ngIf="logueado" (click)="CerrarSesion()">Cerrar sesión</ion-button>

    
  </ion-card>

  <br>
  <br>


</ion-content>